<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yxd.com.module1">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        tools:replace="android:label"
        android:name="debug.Module1Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="yxd_module1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Module1Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
